/* set the font family for the site */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*main {
    display: flex;
    flex-wrap: wrap;
}*/

.header_top {
    display: flex;
    justify-content: space-between;
    background-color: #352e41;
    padding: 15px 50px 15px 75px;
}

/* Make h1 font-size larger and set font-color */
.header_top h1 {
    color: #4d4d72;
    font-size: 200%;
}

/* provide highlighting for the header name*/
.headername {
    background-color: lightblue;
}

/* Remove bullets and display nav list items horizontally - just adding space between and display flex
did not work and apply padding to nav element. Q: how do I bottom align the h1 and the nav elements?
in the header*/

.header_top nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    min-width: 300px;
}
/* Q:  It seems unless I specify text color at this level it gets overwritten by user agent.
what is the rule here?*/
.header_top nav ul li a {
    color: white;
}

/* add the topic hyperlinked sections and light grey background*/
.section_topic {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    justify-content: space-between;
    /*height: 500px;*/
    color: #4d4d72;
    padding: 15px;
}

/* adding a border so I can see the h1 container and aligned text to the right and made width 20%*/*
.section_topic h1 {
    text-align: right;
    font-size: 200%;
    border-right: 5px solid #4d4d72;
    padding-right: 10px;
    width: 20%;
}

.section_topic p {
    padding: 10px;
    width: 80%;
}

.card {
    flex: 1 1 0;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
}

.card img {
    width: 100%;
    min-width: 400px;
}

footer {
    height: 500px;
    color: #4d4d72;
}