/* set the font family for the site */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* set the header properties*/
.header_top {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 5px solid;
}

/* Make h1 font-size larger and set font-color */
.header_top h1 {
    color: #4d4d72;
    font-size: 200%;
    padding-left: 15px;
}

/* provide highlighting for the header name*/
.headername {
    background-color: lightblue;
}

/* set the header nav ul properties*/
.header_top nav ul {
    list-style-type: none;
    padding: 15px 15px 15px 500px;
}
/* set the list item properties */
.header_top nav ul li {
    padding-right: 10px;
    font-size: small;
}

/* resize image to fit in header*/
header img {
    width: 10%;
}

/* set the section ul properties*/
section ul {
    padding-top: 10px;
    padding-left: 20px;
    list-style-type: disc;
}

/* set the section h2 properties*/
section h2 {
    padding-top: 10px;
    padding-bottom: 5px;
    color: blue;
}

/* set the paragraph properties*/
section p {
    padding-top: 10px;
}

/* set the footer properties*/
footer {
    height: 500px;
    color: #4d4d72;
}
 
